
nav.main-nav
  .nav-row
    ul
      li: a(href='/') Home
      li: a(href='/about') About
      li: a(href='/products') Products
      li: a(href='/contact') Contact
  .nav-row.transparent
    ul
      li: a(href='/option1') Option 1
      li: a(href='/option2') Option 2
      li: a(href='/option3') Option 3
