
nav.main-nav
  .nav-row
    ul
      li: a(href='/about') About
      li: a(href='/catalog') Catalog
      li: a(href='/contacts') Contacts
      
  .nav-row.transparent
    ul
      li: a(href='/') Салон штор Радуга
      
