extends layout

block content
  .portfolio-gallery
    a.grid-item(href="/category1")
      img(src="/img/category1.jpg", alt="Category 1")
      .overlay
        .title Category 1
        .description This is the description for category 1
    a.grid-item(href="/category2")
      img(src="/img/category2.jpg", alt="Category 2")
      .overlay
        .title Category 2
        .description This is the description for category 2
    a.grid-item(href="/category3")
      img(src="/img/category3.jpg", alt="Category 3")
      .overlay
        .title Category 3
        .description This is the description for category 3
    a.grid-item(href="/category4")
      img(src="/img/category4.jpg", alt="Category 4")
      .overlay
        .title Category 4
        .description This is the description for category 4
    .grid-item
      img(src="/img/category5.jpg", alt="Category 5")
    .grid-item
      img(src="/img/category6.jpg", alt="Category 6")
  .section-divider
    .line
    .section-title Portfolio Gallery
    .line
  .portfolio-gallery
    .grid-item
      img(src="/img/category4.jpg", alt="Category 4")
    .grid-item
      img(src="/img/category5.jpg", alt="Category 5")
    .grid-item
      img(src="/img/category6.jpg", alt="Category 6")
    .grid-item
      img(src="/img/category4.jpg", alt="Category 4")
    .grid-item
      img(src="/img/category5.jpg", alt="Category 5")
    .grid-item
      img(src="/img/category6.jpg", alt="Category 6")
    .grid-item
      img(src="/img/category4.jpg", alt="Category 4")
    .grid-item
      img(src="/img/category5.jpg", alt="Category 5")
    .grid-item
      img(src="/img/category6.jpg", alt="Category 6")
