extends layout

block content
  h1 Categories Management
  button(onclick="showForm('new')") New Category

  .container
    .category-list
      table
        thead
          tr
            th Name
            th Actions
        tbody
          each category in categories
            tr(data-id=category.id)
              td= category.name
              td
                button(onclick=`showForm('edit', ${category.id})`) Edit
                button(onclick=`deleteCategory(${category.id})`) Delete
    .category-form#category-form(style="display:none")
      h2#form-title New Category
      form(id="categoryForm")
        input(type="hidden", name="id", id="categoryId")
        .form-group
          label(for="categoryName") Name:
          input(type="text", name="name", id="categoryName")
        .form-group
          label(for="categoryDesc") Description:
          input(type="text", name="description", id="categoryDesc")
        button(type="submit") Save
      button(onclick="hideForm()") Cancel

  script(src="/js/category-panel.js")
