.container {
  display: flex;
  justify-content: flex-start;

}

.product-list {
  flex: 1;
  margin-right: 20px;
  max-width: 700px;
  margin-left: 50px;
}

.product-form {
  flex: 0 0 500px;
  margin-right: 150px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
  text-align: left;
}

#product-form {
  margin-top: 20px;
}

#product-form label {
  display: block;
  margin-top: 10px;
}

#product-form input, #product-form textarea {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}

.form-group {
  margin-bottom: 15px;
}

.boxes {
  display: flex;
  justify-content: flex-start;
}

.checkbox {
  display: flex;
  justify-content: flex-start;
}

.image-carousel {

  position: relative;
  display: flex;
  align-items: center;
}

.carousel-inner {
  width: 100px; /* фиксированная ширина */
  height: 100px; /* фиксированная высота */
  overflow: hidden;
  position: relative;
}

.carousel-inner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: none;
}

.carousel-inner img.active {
  display: block;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 5px;
}

.image-preview-container {
  margin-top: 10px;
}

.image-preview-row {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}

.image-preview {
  position: relative;
  margin-right: 10px;
}

.image-preview img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border: 1px solid #ccc;
}

.image-preview .remove-button {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(255, 0, 0, 0.7);
  color: white;
  border: none;
  cursor: pointer;
  padding: 2px 5px;
}