body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.text-info-wrapper {
    flex: 1 1 30%;
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    padding: 20px;
    box-sizing: border-box;
}
  
.text-info {
    text-align: left; /* Левое выравнивание текста */
}

.text-info h3 {
    font-size: 24px;
    margin-bottom: 10px;
}
  
.text-info p {
    margin: 18px 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}